Makefile
Makefile.in
.deps/
.libs/
*.o
*.lo
*.la
*~
*.tar.gz

/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/m4/
!/m4/curl.m4
test-driver
src/test-suite.log
src/tests/*.log
src/tests/*.trs
vmod_vcs_version.txt

/src/vcc_curl_if.*
/src/*.rst
/src/*.3
