Source: libvmod-curl
Section: web
Priority: extra
Maintainer: Varnish Software <support@varnish-software.com>
Build-Depends: debhelper (>= 7), build-essential, pkg-config, python-docutils, varnish (>= 4.0.2), libvarnishapi-dev (>= 4.0.2), libcurl4-gnutls-dev
Standards-Version: 3.8.1
Vcs-Git: git://github.com/varnish/libvmod-curl.git

Package: libvmod-curl
Architecture: any
Depends: varnish, ${misc:Depends}
Description: CURL for Varnish VCL
